%h4.modal-title Invite to join LoveRealm
%p 
  Call <b>#{@data['name']}</b> via their phone number: <b>#{@data['formatted_phone_number']}</b> or <b>#{@data['international_phone_number']}</b> and invite them to LoveRealm.