<p>Hi there <%= @user.full_name(false) %></p>
<p>Merry Christmas! Thanks so much for using LoveRealm during the past year. We want to celebrate you, thus are organizing a meetup event in Accra, at Osu, Planet Kebab to be precise. This event will take place on the 8th of January 2016 from 4.30 PM to 7:00PM.</p>
<p>
    This meetup will bring together <strong>30 of LoveRealm’s top users</strong> from all walks of life. There will be lots of FREE continental dishes, drinks, and dessert. We are also releasing exciting new updates to the LoveRealm app, and attendees will be the first to have have first hand experience testing these new features. You will also have the chance to interact with professional world class counselors and LoveRealm’s top level executives. We also want to honour you and specific LoveRealm users by presenting awards and exciting gifts to you. There’s absolutely no reason to miss this event!
</p>
<p>
    <strong>URGENT</strong>: Considering the fact <strong>that there are tens of thousands of LoveRealmers</strong>, and considering the fact that <strong>there are just 30 seats available for this FREE event</strong>, You must <strong>indicate NOW if you want to attend</strong> by urgently registering for free here:
</p>
<p>
    <a href="https://www.eventbrite.com/e/loverealm-meetup-tickets-30616233980"><span style="color: #1155cc;">https://www.eventbrite.com/e/loverealm-meetup-tickets-30616233980</span></a>
</p>
<p>
    Thank you so much for allowing us to serve you in 2016. We look forward to doing so in 2017 as well!
</p>
<p>Warmly,</p>
<p>
    Dr. Yaw Ansong Jnr <br>
    CEO <br>
    LoveRealm Inc.
</p>
