%p Hi it's #{@church_member_invitation.pastor_name}. 
%p 
  I'm personally inviting you to join #{@church_member_invitation.user_group.name} online via LoveRealm.
  %br 
  All church materials, schedules, counseling have been put there. You will also make friends and grow there. It's free. 
  
%p Join here: #{link_to 'www.loverealm.com/dl', 'http://www.loverealm.com/dl'}