%h2 Dear #{@user.full_name(false)},
%br
%p You are invited to watch our live online crusade on #{link_to "LoveRealm", root_url}, the social network for believers, today. 
%p The Holy Spirit Himself will be ministering through Dr. Yaw Ansong Jnr alongside Dr. Tackie-Yarboi. Yokes will be broken, burdens will be lifted. Please invite your friends to watch the program live on #{link_to "LoveRealm", root_url} on Friday, 31st March, 2017, at 10:00GMT. Don’t miss this for anything.

%br
%p God Richly Bless you,
%p The #{link_to "LoveRealm", root_url} Team.