%h2 Hi #{@user.first_name},
%p
%p 
  Easter symbolizes the renewal of life. You are renewed by His precious blood. 
  %br
  May you find the renewal of life, hope, health, love, happiness and above all the spirit of God.
  
%p Happy Easter to you and your love family. 

%p From Dr. Ansongs and the #{link_to "LoveRealm", root_url} team.