%h2 Dear #{@user.full_name(false)},
%br
%p 
  ‘ And they overcame him by the blood of the Lamb, 
  %strong and by the word of their testimony; 
  …’ Rev 12:11 

%p It’s #TestimonyDay on #{link_to "LoveRealm", root_url}, the social network for Believers. Share your testimony of what you were dealing with and how God delivered you. Add the hashtag #TestimonyDay. Your testimony will encourage someone going through the same situation. Please share your testimony now.

%p 
  %strong PS: 
  We also just released a minor update of the LoveRealm app. There are lots of bug fixes and speed improvements. Some of the sticker packs were vile, as such we had to promptly disable them from the app. 
  = link_to('Please update your version of LoveRealm if you haven’t done so yet.', 'http://www.loverealm.com/dl')


%p Kind Regards,
%p The team at #{link_to "LoveRealm", root_url}.