%h2 Dear #{@user.full_name(false)},
%br
%p Finding friends and counselors on #{link_to "LoveRealm", root_url}, the social network for believers, just got better. Starting from today, you will be able to see more tailored and improved friend and relationship recommendations in your feed.  

%p Since most of you LoveRealmers out there wanted the option to be able to change your assigned counselor, we have not only added that; you can now literally browse through our list of counselors and reach out to as many as you want. We would be adding hundreds of counselors to our database in the coming days.

%p There are other exciting stuff we added, like group chat; as well as minor fixes in the user interface and experience. The app is now more stable than ever, it just keeps getting better and better.

%p We’d love to use this opportunity to thank you for your support so far. We hope to serve you even better in the coming days. Please update your version of #{link_to "LoveRealm", root_url} by downloading it here: #{link_to 'www.loverealm.com/dl', 'http://www.loverealm.com/dl'}


%p 
  Kind Regards,
  %br
  Dr. Yaw Ansong Jnr
  %br
  CEO
  %br
  LoveRealm Inc.