%p Hi #{@user.first_name},

%p We haven't seen much of you on #{link_to 'LoveRealm', root_url} over the past month. We've really missed you, and we really want to do better, can you please let us know where we've fallen short?

%p
  Kind Regards, <br>
  Dr. Yaw Ansong Jnr<br>
  CEO<br>
  #{link_to 'LoveRealm Inc.', root_url}