%p Hi #{@user.first_name},
%p 
  I'm #{link_to 'Dr. Yaw Ansong Jnr', dashboard_profile_url(id: 18) }, Co-founder and CEO at LoveRealm. We noticed you signed up to our platform. How's the experience going? Are there any issues? Is there any way we can assist you to make your experience better? Please do not hesitate to respond to this email should you feel the need to.

%p
  Kind Regards, <br>
  Dr. Yaw Ansong Jnr<br>
  CEO<br>
  #{link_to 'LoveRealm', root_url}