%p Hi #{@user.first_name},

%p We noticed you successfully set up and created a #{@group.the_group_label} on LoveRealm. Now that you've gotten set up and hopefully explored a bit, what questions do you have?

%p
  Kind Regards, <br>
  Dr. Yaw Ansong Jnr<br>
  CEO<br>
  #{link_to 'LoveRealm Inc.', root_url}