%p Hi #{@user.first_name},

%p  A quick reminder to pay your tithe to #{@group.name}. #{link_to 'Click here to pay now!', dashboard_user_group_url(id: @group.id, extra_action: 'open_payment')}

%p
  Kind Regards, <br>
  Dr. Yaw Ansong Jnr<br>
  CEO<br>
  #{link_to 'LoveRealm Inc.', root_url}