%p Dear #{@promotion.user.first_name},
%p Your AD "#{@promotion.the_title}" has been rejected and the payment has been refunded!
%p <strong>Reason: </strong> #{@msg}
%br
%p The Team at #{link_to "LoveRealm", root_url}.