%p Dear #{@user.first_name},

%p #{@user_group.name} has been approved to receive payments via #{link_to 'LoveRealm', root_url}. We hope you will find our platform useful in your fundraising efforts. <br>Please do not hesitate to contact us should you encounter any problems.
  
%p Blessings!
%p The #{link_to 'LoveRealm', root_url} Team.