$primary-color: #c6181b;
$dark-red: #9a1315;
$skin-color: #f1efe2;
$pure-white: #ffffff;
$black: #333;
$padding-base-vertical: 6px;
$padding-small-vertical: 3px;
$input-border-focus: #bbb !default;
$input-height-base: 34px;