%h2 Badges
.panel.panel-primary{id: 'verified'}
  .panel-heading
    User Verified Checkmark
    %span.fa.fa-check.verified_badge
  .panel-body
    The blue verified checkmark
    %span.fa.fa-check.verified_badge
    on LoveRealm ensures that an account is the authentic voice of a user of public interest. This however does not imply an endorsement from the team at LoveRealm. The badge appears in the feed, comments, and search results. If you think your account should be verified, let us know by messaging the loverealm team via the 'LoveRealm Official' account.


.panel.panel-primary{id: 'volunteer'}
  .panel-heading
    User Volunteer Checkmark
    %span.fa.fa-chevron-down.volunteer_badge
  .panel-body
    The red volunteer checkmark
    %span.fa.fa-chevron-down.volunteer_badge
    on LoveRealm ensures that an account helps to keep the community safe by becoming a Community watch dog; or perhaps run your own chat room. (TODO review)
