.mobile-app-promo
  .row
    .col-sm-6.col-sm-push-6
      .mobile-app-promo-image
        = image_tag 'android-template.png'

    .col-sm-6.col-sm-pull-6
      .mobile-app-promo-desc
        %h1 Download the app
        %p
          Get the LoveRealm app on your mobile phone.
          %br
          Never miss an update
            
        %p.text-center
          = link_to image_tag("google-play.png"), ENV['ANDROID_APP_URI'], class: 'app-market'
          = link_to image_tag("app-store.png"), ENV['IOS_APP_URI'], class: 'app-market'
