.alert.alert-success
  %h3 Payment successfully completed!
  .form-group
    %p.margin_bottom10 The payment has been sent successfully to your Counselor!!!
  .form-group.text-center.margin_top10
    = link_to 'Continue', home_path, class: 'btn btn-success'