- images = @content.image_story_images
:ruby
  set_meta_tags og: {
    title: shortik(@content.description, 100),
    image: (images.first.url rescue '')
  }

= render layout: 'full_content', locals:{content: @content} do
  .content-body
    .content-text
      = raw @content.decorate.the_body
    = render 'dashboard/contents/media_playlist', content: content if images.present?