- content_prayers.eager_load(:content, content: :user).each do |req|
  .media.media_bordered{'data-id' => req.content_id}
    .media-left
      = user_avatar_widget(req.content.user, 30, req.content.created_at)
    .media-body
      .media-heading
        = link_to req.content.the_title, dashboard_content_path(req.content)
      %p
        %small
          %i #{req.content.content_prayers_accepted.count} Prayed

= view_more_button(my_praying_list_answered_dashboard_users_path(page: content_prayers.next_page), '') if content_prayers.try(:next_page)