= form_tag url_for(action: :buy), method: :post, class: 'ujs_hide_modal validate hook_caller', 'data-callback'=>'ChurchEvents:buy', authenticity_token: true, remote: true do
  = hidden_field_tag :amount, @event.price
  = render 'dashboard/payments/form', card_label: 'Pay Ticket', recurring: false