- payments.eager_load(:user).each do |payment|
  = user_row_widget(payment.user, {class: 'media_bordered'}) do
    = link_to('Send Reminder', url_for(action: :send_pledge_reminder, id: payment), class: 'small underline', remote: true, 'data-disable-with' => button_spinner, 'data-confirm' => 'Are you sure you want to send a reminder?')

= view_more_button(url_for(action: :pending_payments, kind: params[:kind], page:  payments.try(:next_page))) if payments.try(:next_page) 