/* Redefining bootstrap colors */
$LR-red: $primary-color;
$LR-black: #000;
$LR-white: #FFF;
$LR-light-ash: #dadade;
$LR-deep-ash: #535156;
$LR-facebook: #3b5998;
$content_bottom_padding: 20px;

$brand-primary: $LR-red;
$tooltip-bg: $LR-red;

.lr-red {
	color: $LR-red;
}

.background-lr-red {
	background-color: $LR-red;
}

.lr-black {
	color: $LR-black;
}

.background-lr-black {
	background-color: $LR-black;
}

.lr-light-ash {
	color: $LR-light-ash;
}

.background-lr-light-ash {
	background-color: $LR-light-ash;
}

.lr-deep-ash {
	color: $LR-deep-ash;
}

.background-lr-deep-ash {
	background-color: $LR-deep-ash;
}

.lr-facebook {
	color: $LR-facebook;
}

.background-lr-facebook {
	background-color: $LR-facebook;
}
